@import '../assets/bootstrap.min.css';

.editor{
  width: 700px;
  margin: auto;
  margin-top: 55px;
}

.header{
display: flex;
border-bottom: 1px solid #d9d9d9;
margin-bottom: 10px;
padding-bottom: 7px;
}

.label{
 width: 80%;
}

.type{
  width: 20%;
}


.options{
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  padding-bottom: 7px;
}


.component{
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.properties{
  display: table; width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.question{
  border: 1px solid #cacaca;
  padding: 13px;
  margin-bottom: 11px;
  -webkit-box-shadow: 9px 11px 17px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 11px 17px -8px rgba(0,0,0,0.75);
  box-shadow: 9px 11px 17px -18px rgba(0,0,0,0.75);
  border-radius: 5px;
}


.errors {
  padding: 2px;
  background-color: #ffe399;
  font-weight: 600;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  color: #4d4d4d;
  font-size: 12px;
  text-align: center;
}

.toolbar{
  position: fixed;
  top: 0px;
  left: calc(50% - 350px) ;
  width: 700px;
  border: 1px solid #cacaca;
  padding: 2px;
  margin-bottom: 11px;
  -webkit-box-shadow: 9px 11px 17px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 11px 17px -8px rgba(0,0,0,0.75);
  box-shadow: 9px 11px 17px -18px rgba(0,0,0,0.75);
  border-radius: 5px;
}
